body {
  font-family: "Catamaran";
  padding-bottom: 32px;
}
.certificate {
  background-color: white;
  width: 720px;
  margin: 32px auto 32px auto;

  max-width: 90vw;
}
.certificate__border {
  border: #222222 solid 8px;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 12px;
}
.certificate__content {
  width: 100%;
  background-color: #f2f2f2;
  padding-bottom: 16px;
}

.certificate__header {
  background-color: #222222;
  padding: 24px;
  margin-bottom: 32px;
}

.certificate__header img {
  display: inline;
  height: 24px;
  margin-right: 8px;
}

.certificate__header__title {
  display: inline;
  color: #f2f2f2;
  font-weight: 800;
  font-size: 24px;
  margin: 0;
}

.certificate__header_emissao {
  display: inline;
  float: right;
  color: #f2f2f2;
  font-family: "Catamaran";
  font-size: 16px;
  margin: 0;
}

.certificate__text {
  text-align: center;
  margin: 0;
}

.certificate h1 {
  text-align: center;
  margin-top: -8px;
  margin-bottom: -8px;
  padding: 0;
}
.certificate__signature {
  display: flex;
  justify-content: center;

  margin-top: 40px;
}
.certificate__signature img {
  width: 288px;
}

.certificate__verification {
  text-align: center;
  margin-top: 32px;
  margin-bottom: 0;
}

.results {
  padding-left: 16px;
  padding-right: 16px;
}

#answers {
  width: 100%;
}

.percentageBar {
  margin-top: -16px;
  background-color: #195ad7;
  height: 48px;
  border-radius: 8px;
  color: white;
  font-size: 16pt;
  text-align: center;
  line-height: 48px;
  min-width: 56px;
}
